/*-- Use For Custom Styling --*/
.about-me-box {
	margin-left: 100px;
	margin-top: 30px;
}
.aboutMe {
	margin-bottom: 30px;
}
.coderFoundry {
	color: #1D9A85 !important;
	text-decoration: underline;
}